.mid1 {
    grid-column: span 5; /* span of mid-container */
    display: flex;
    flex-direction: column;
    border-radius: 0.55rem;
    overflow: hidden;

    user-select: none; /* Prevent all children text from being highlighted */

    background-color: aqua; 
     /* position: relative; */
}







.lib-header {
    height: 105px;
    z-index: 5; /* positioned in-front of other elements  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;

    padding-left: 1rem;
    padding-right: 1rem;
    /* position: absolute;
    width: 100%; */
    background-color: #121212;
}

.lib-header-item-1 {
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    background-color: #121212;
}

.lhi1-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
    color: #b3b3b3;

    transition: transform 10s ease;

    /* background-color: #1f1f1f; */
}

.lhi1-left:hover {
    color: white;
}

.lhi1-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    background-color: #121212;
}

.lhi1-right-inner {
    display: inline-block;
    /* background-color: #1f1f1f; */
}

.lib-header-item-2 {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.1rem;
    /* background-color: beige; */
}

.lib-header-item-2 div {
    border-radius: 1rem;
    font-size: 0.85em;
    color: white;

    cursor: pointer;

    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    transition: transform 5s ease;
    background-color: rgba(61, 60, 60, 0.5);
}

.lib-header-item-2 div:hover {
    background-color: rgba(73, 73, 73, 0.6);
}











.lib-scroll {
    flex: 1;
    width: 100%;
    overflow-y: auto;

    background-color: #121212;
    /* background-color: beige; */
}

.lib-list-header {
    height: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;

    background-color: #121212;
    /* background-color: azure; */
}

.llh-item-1 {
    text-align: left;
    margin-left: 0.7rem;
    display: flex;
    align-items: center;
    
    /* background-color: #1f1f1f; */
    background-color: #121212;
}
.llh-item-2 {
    text-align: right;
    margin-right: 0.7rem;

    /* background-color: #1f1f1f; */

}

.llh-item-2-inner {
    display: inline-block;
    color: #b3b3b3;
    font-size: 0.9em;

    transition: transform 0.1s ease;

    /* background-color: blueviolet; */
}

.llh-item-2-inner:hover {
    transform: scale(1.05);
    color: white;
}

.llh-item-2-inner-child {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.lib-list-item {
    height: 65px;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

    border-radius: 0.4rem;

    background-color: aqua;
}









.lib-scroll::-webkit-scrollbar {
    width: 9px;
}

.lib-scroll::-webkit-scrollbar-track {
    background: #121212;
}

.lib-scroll::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    width: 5px;

    background: #888; 
}

