
.search-icon {
    border-radius: 50%;
    width: 22px;
    padding: 0.3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.search-icon:hover {
    background-color: rgba(61, 60, 60, 0.9);
}